model_config_list {
  config {
    name: "yemek_model"
    base_path: "/models/yemek_model"
    model_platform: "tensorflow"
  }
  config {
    name: "sirket_model"
    base_path: "/models/sirket_model"
    model_platform: "tensorflow"
  }
  config {
    name: "motivasyon_model"
    base_path: "/models/motivasyon_model"
    model_platform: "tensorflow"
  }
  config {
    name: "calisma_ortami_model"
    base_path: "/models/calisma_ortami_model"
    model_platform: "tensorflow"
  }
  config {
    name: "geri_bildirim_model"
    base_path: "/models/geri_bildirim_model"
    model_platform: "tensorflow"
  }
  config {
    name: "prim_model"
    base_path: "/models/prim_model"
    model_platform: "tensorflow"
  }
}
